.signup-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.signup-box input {
    width: 15rem;

}

.signup-box p {
    color: red;
}
