.reserveBox {
    border: solid lavender 3px;
    border-radius: 5px;
    display: grid;

    width: 400px;
    height: 150px;
    position: absolute;
    right: 60px;
    top: 700px;
    padding: 2px;
    color: red;
}

.location {
    margin-left: 5px;
}

.reserve-info {
    display: flex;
    justify-content: space-around;
}

.images {
    display: flex;
}

.regular-images {
    position: relative;
    top: -16px;
    columns: 2;

}

.regular-images>li {

    margin-left: 5px;
    list-style: none;

}

.post-button {
    width: 200px;
}

.description {
    max-width: 60%;
}

.delete-button {
    max-width: 200px;
    margin-left: 15px;
}

.review-list li {
    margin-bottom: 20px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.review-item>button {
    width: 200px;
    margin-left: 20px;
    background-color: red;
}

.review-button {
    max-width: fit-content;
}

.review-info {
    display: flex;

}

.review-info ul {


    display: flex;
    flex-wrap: nowrap;
}

.number-reviews {
    margin-left: 25px;
    text-wrap: nowrap;

}

.price-in-box {

    align-self: center;
    text-wrap: nowrap;
}
