.reserveBox {
    border: solid lavender 3px;
    border-radius: 5px;
    display: grid;

    width: 400px;
    height: 150px;
    position: absolute;
    right: 60px;
    top: 700px;
    padding: 6px;
    color: red;
}

.location {
    margin-left: 5px;
}

.reserve-info {
    display: flex;
    justify-content: space-around;
}

.images {
    display: flex;
}

.regular-images {
    position: relative;
    top: -16px;
    columns: 2;

}

.regular-images>li {

    margin-left: 5px;
    list-style: none;

}

.post-button {
    width: 200px;
}

.description {
    max-width: 60%;
}

.delete-button {
    max-width: 200px;
    margin-left: 0px;
    margin-top: 5px;
}

.review-title {

    margin-left: 30px;
}

.review-list-all {

    margin-top: 80px;
}

.review-list>li {
    margin-bottom: 25px;
    max-width: 90%;
    display: flex;

    flex-direction: column;
    list-style: none;
}

.review-item>li {
    list-style: none;
    margin-bottom: 6px;
    margin-left: -43px;

}

.review-list {
    display: flex;
    flex-direction: column-reverse;
}

.firstName {

    font-size: 20px;
    font-weight: bold;
}

.review-date {

    color: gray;
}


.review-item>button {
    width: 200px;
    margin-left: 20px;
    background-color: red;
}

.review-button {
    max-width: fit-content;
    margin-left: 40px;
}

.review-info {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    flex-wrap: nowrap;

}

.review-info-new {

    margin-top: 30px;
    font-size: 15px;
}

.review-info ul {

    position: static;
    display: flex;
    flex-wrap: nowrap;
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 15px;

}

.number-reviews {
    margin-left: 25px;
    text-wrap: nowrap;

}

.price-in-box {

    align-self: center;
    text-wrap: nowrap;
    font-size: 20px;
}
