.preview-image {


    margin: 20px;
    border: solid black 1px;
    min-height: 200px;
    min-width: 400px;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 100px;
    color: white;
    font-size: 20px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    top: -20px;

}

.item:hover .tooltip-text {
    visibility: visible;
}
