.spot-item {

    border: solid black 2px;
    border-radius: 4px;
    min-height: 400px;
    min-width: 400px;
    margin: 3px;
    position: relative;

    background-color: bisque;

}

.spot-item:hover {

    cursor: pointer;
}

.spot-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;


}
