.spot-item {

    /* border: solid black 2px; */
    border-radius: 6px;
    height: 350px;
    width: 220px;
    margin: 5px;
    position: relative;

    /* background-color: bisque; */
    display: flex;
    justify-content: center;

}

.spot-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

@media screen and (min-width: 1000px) {
    .spot-list {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 30px;

    }

    .spot-item {
        margin: 6px;
        margin-top: 20px;
        margin-bottom: 80px;



    }

    .buttons {
        margin-top: 60px;
    }
}

@media screen and (min-width: 1600px) {
    .spot-list {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 60px;

    }
}

.buttons {

    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    padding: 10px;
}

.create-spot-link {

    text-decoration: none;
}
