.nav-list {

    background-color: rgb(0, 255, 30);
}

.nav {
    display: flex;
    border: solid black 1px;
    padding: 5px;
    justify-content: space-between;
}



.hidden {
    display: none
}

.profile-button {
    justify-self: end;
}
