.nav-list {

    background-color: rgb(0, 255, 30);
}

.nav {
    position: sticky;
    display: grid;
    grid-template-columns: 4fr 2fr;
    border: solid black 1px;
    padding: 30px;

    margin-bottom: 5px;
    width: inherit;
}



.hidden {
    display: none
}

.profile-button {
    justify-self: end;
    /* margin-left: 100%; */
}

.title-link {
    text-decoration: none;
}

.title-link:hover {
    text-decoration: default;
    cursor: pointer;
}

.right-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.new-spot-link {

    text-decoration: none;
}
